@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @style = "visability: hidden" }))
    {
        @Html.AntiForgeryToken()
        
            <!--<li>
                @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </li>
            -->
    }
    <li class="main-sidebar__username">
        <a href="/Manage">
            <span class="link-item">Профиль</span>
        </a>
    </li>
    <div class="header__account">
        <a class="btn2 btn2-default" href="javascript:document.getElementById('logoutForm').submit()">
            <span>Выйти</span>
        </a>
    </div>
}
else
{
    <div class="header__account">
        <a class="btn2 btn2-default" onclick="modal_open('login');">Войти</a>
        <a class="btn2 btn2-default btn2--border" onclick="modal_open('register');">Регистрация</a>
    </div>
}

