<script>$('#tennis').css('background-color', '#4f66ac');</script>
<script>$('#tennis').css('border-radius', '15px');</script>


<a href="http://www.rustennistur.com/players/40218"><img border="0" src="http://www.rustennistur.com/players/informer/rni/40218" /></a>

<br /><br /><h2>РТТ Домодедово 21.09.2018</h2>
<img src="~/img/IMG_0297.JPG" width="100%" />

<br /><br /><br />
    <div class="about">
        <div><h2> 20:19:00 ЕРТЛ 10s Minitennis. Такой непредсказуемый Итоговый...</h2></div>


        <div class="text">
            <br>
            <div><img src="../img/81402084e04049b5e6903deebbd0c029.JPG" title="IMG_6356.JPG" border="0" alt="IMG_6356.JPG" width="650" height="365"></div>

            <div><b><i>Победительница Яна Мизерова и призеры Итогового турнира во время церемонии награждения</i></b></div>

            <div>
                <br>
            </div>

            <div>На кортах Академии Александра Островского в Химках в последнее воскресенье 2017 года состоялся III Итоговый турнир ЕРТЛ 10s Minitennis в категории "Зеленый мяч". И во второй раз он был проведен в Академии. На соревнования приехали практически все сильнейшие из ТОП-16 рейтинга - постоянные участники наших турниров, например, Егор Щербаков из ТЦ "РИАТ", который играет эти турниры Лиги у себя дома в Иваново.</div>

            <div>
                <br>
            </div>


            <div>Всего в соревнованиях приняли участие 15 человек, к сожалению, не смола приехать Кристина Лютова (школа тенниса "Олимпиец", Москва) из ТОП16, по причине каникул не было Дарьи Бугаенко (ТЦ ITC Mytishi, г. Мытищи) и Ксении Ручкиной, которых заменили Савелий Тулупов и Яна Мизерова. Из наших фаворитов, которые всегда стоят на пьедестале почета, победители наших турниров Глеб Пирогов, Александра Сафонова, Устинья Автаева, выбыли из борьбы уже на старте!</div>

            <div>
                <br>
            </div>


            <div>&nbsp;</div>

            <div>Наш чемпион чемпионов Глеб Пирогов СДЮШОР "Спартак") в 1-м круге проиграл Яне Мизеровой&nbsp;(Школатенниса.ru, Москва) - девочке, которая никогда не стояла на пьедестале в победителях турнира и которая попала на турнир из-за отказов игроков с листа-16 и так же неожиданно выиграла турнир. Наши поздравления победительнице!!!</div>
            <div>
                <br>
            </div>
            <div><img src="../img/dd98d2a69b4d230d96d117802139b763.JPG" title="IMG_6353.JPG" border="0" alt="IMG_6353.JPG" width="650" height="1156"></div>
            <div>
                <br>
            </div>
            <div>В качестве главного приза Яна&nbsp; Мизерова получила хрустальный кубок, а также сертификат,&nbsp;дающий право на получение 75% скидки на аренду корта при индивидуальных занятиях в выбранном клубе ЕРТЛ 10S «Minitennis» сроком на один месяц. Призерам и всем участникам турнира на память были вручены именные тарелки под серебро!</div>
            <div>
                <br>
            </div>

            <div>
                <br>
            </div>

            <div>После завершения турнира и церемонии награждения организаторы на 3-м этаже ВОС-1 накрыли стол и организовали для юных спортсменов праздничное чаепитие.</div>

            <div>
                <br>
            </div>

            <div>
                <div><b><i>Результаты:</i></b></div>

                <div>
                    <b>
                        <i>
                            <br>
                        </i>
                    </b>
                </div>

                <div>
                    <div><b>Итоговый турнир «Зеленый мяч»</b></div>

                    <div>
                        <div>
                            <b>
                                <br>
                            </b>
                        </div>

                        <div>
                            <div><b>1-е место</b>&nbsp;- Мизерова Яна (Школатенниса.ru, Москва);</div>

                            <div>
                                <br>
                            </div>




                            <div><b>2-е место -</b>&nbsp;Фетищев Владимир (ТК "Пироговский")</div>

                            <div>
                                <br>
                            </div>

                            <div><b>3-е место</b>&nbsp;- Щербаков Егор (ТЦ "РИАТ", Иваново)</div>

                            <div>
                                <br>
                            </div>

                            <div><b>Победитель доптурнира</b>&nbsp;- Пирогов Глеб (СДЮШОР "Спартак").</div>
                        </div>
                    </div>
                </div>

                <div>
                    <br>
                </div>

