@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    ViewBag.Title = "играть в шахматы с живыми игроками";
    ViewBag.GetRequest = "game";
    ViewBag.ColContentClasses = "col-md-12";
}
<div class="bg-panel game_set_panel game_set_panel__container">
	<h1>Параметры игры</h1>
	<div class="radio_st game_set_panel__grid">
		<div>
			<input id="tr1" class="radio_btn" checked type="radio" name="time_set" value="3_2" />
			<label for="tr1">3 | 2</label>
		</div>
		<div>
			<input id="tr2" class="radio_btn" type="radio" name="time_set" value="5_5" />
			<label for="tr2">5 | 5</label>
		</div>
		<div>
			<input id="tr3" class="radio_btn" type="radio" name="time_set" value="10_5" />
			<label for="tr3">10 | 5</label>
		</div>
		<div>
			<input id="tr4" class="radio_btn" checked type="radio" name="time_set" value="15_5" />
			<label for="tr4">15 | 5</label>
		</div>
		<div>
			<input id="tr5" class="radio_btn" type="radio" name="time_set" value="10" />
			<label for="tr5">10</label>
		</div>
		<div>
			<input id="tr6" class="radio_btn" type="radio" name="time_set" value="15" />
			<label for="tr6">15</label>
		</div>
	</div>
	<h3>Соперник</h3>
    <div class="switch-container">
        <span>Человек</span>
      	<label class="switch none_active">
			<input type="checkbox" id="soperType">
			<span class="slider"></span>
		</label>
        <span>Компьютер</span>
    </div>
    <a onclick="StartGame()" class="btn btn-primary" style="margin-top: 25px;">Играть</a>
</div>
@if (User.Identity.IsAuthenticated)
{
    <script>var auth = true;</script>
}else
{
    <script>var auth = false;</script>
}
<script>
    function StartGame()
    {
        var t = $(".radio_btn:checked").val().split('_'); 
        var baseTime = t[0], increment = t[1];

        if ($('#soperType').is(':checked')) {
            document.location.href = '/Game/Comp';
            return;
        }
        if (auth !== true) { 
			modal_open('login');
			return; 
		}

        $.ajax({
            type: 'GET',
            url: '@Url.Action("StartGame")',
            data: { "BaseTime": baseTime, "Increment": increment },
            dataType: 'json',
            success: function (Game_ID) {
                if (Game_ID > 0) {
                    document.location.href = '/Game/Human/' + Game_ID;
                }
            },
            error: function (emp) {
                alert('error in StartGame');
            }
        });
    }
</script>

